.form {
    display:block;
}
.fieldset-form {
    padding: 0;
    border: 0;
    margin-top: 25px;
}
input.text {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: .4em;
}
input.type {
    margin-top: 10px;
    padding: 3px;
}
span {
    font-family: monospace;
}
.inline {
    display: inline;
}